<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

<nav class="navbar is-transparent" aria-label="main navigation">
  <script>
    window.repoName = "{{ site.baseurl }}";
  </script>
  <script src="{{ site.baseurl }}/assets/js/modeswitcher.js"></script>
  <script src="{{ site.baseurl }}/assets/js/hamburger.js"></script>
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/index.html">
      <h6>{{site.heading}}</h6>
    </a>
    <div class="navbar-item navbar-dark-mode-mobile is-hidden-tablet" onclick="modeSwitcher()">
      <div class="buttons">
        <a class="button is-text">
          <span class="icon is-small">
            <img src="{{ '/assets/img/sun.svg' | relative_url }}" id="theme-toggle-img-mobile"
              alt="Sun for theme toggle">
          </span>
        </a>
      </div>
    </div>
    <button class="navbar-burger" type="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{'/notes' | relative_url}}" class="navbar-item"> Obsidian Notes </a>
      <a href="https://autinaut.net/" target="_blank" class="navbar-item">Autinaut</a>
      <a href="https://obsidian.md/" target="_blank" class="navbar-item">Obsidian</a>
    </div>
    <div class="navbar-end is-hidden-mobile" onclick="modeSwitcher()">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-text">
            <span class="icon is-small">
              <img src="{{ '/assets/img/sun.svg' | relative_url }}" id="theme-toggle-img" alt="Sun for theme toggle">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
